<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body class="blue loaded">
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div id="login-page" class="row">
    <div class="col s12 m12 z-depth-2 card-panel">
      <form class="login-form" method="POST" action=''>
        <div class="row">
          <div class="input-field col s12 center">
            <div style="min-width:300px"><img src="images/agrisense-logo.png" alt="" width="100px" class="circle responsive-img valign profile-image-login"></div>
            <p class="center login-form-text">Dashboard Login</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="username" name='username' type="text">
            <label for="username" class="center-align">Username</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" name='password' type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 l12  login-text">
              <input type="checkbox" id="remember-me" checked="" />
              <label for="remember-me">Remember me</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
          	<button class=" blue btn waves-effect waves-light col s12" type='submit'>Login</button>
          </div>
        </div>
        <div class="row">
          <div class="col s4 m4 l3">
            <img width="60px" src="./images/dashboard-logo.png" />
          </div>
          <div class="col s4 m4 l3">
            <img width="60px" src="./images/UMDLogo.png" />
          </div>
          <div class="col s4 m4 l3">
            <img width="60px" src="./images/SUALogo_hires.png" />
          </div>
          <div class="col s4 m4 l3">
            <img width="60px" src="./images/STARS_LOGO_L_cr.jpg" />
          </div>

        </div>

      </form>
    </div>
  </div>
</body>
</html>
